.external{
  border: 1px solid rgba(11, 19, 18, 0.1);
  width: 30vw;
  height:auto;
  margin:1vw;
  margin-left: 1.5vw;
  display:inline-block;
  padding-left: 0px;
  padding-right: 1vw;
  background-color:#fbfbfb;
  position:relative
}
.img-position{
  width: 10vw; height: 13vw; float:left;
}
.hero-name-card{
  font-size: 2vw;
  font-family: Roboto, sans-serif, Helvetica;
  color:#518cca;
  font-weight:600;
  margin-bottom: 0px;
}
.hero-publisher-card{
  font-size: 1vw;
  font-family: Roboto, sans-serif, Helvetica;
  color:#504a4a;
  font-weight:600;
  padding-top : 0px;
  margin-top:0px;
  margin-bottom:1.2vh;
}
.hero-info-card{
  font-size: 1vw;
  width: 15vw;
  float:right;
  margin-top:-1vh;
  margin-left: -1vw;
  font-family: Roboto, sans-serif, Helvetica;
  color:#504a4a;
}
.buttons-position{
  position:absolute;
  bottom:0 !important;
  right:3.1vw;
}
.like-position-unchecked{
  margin-right:1vw;
  width: 3vw;
  height:auto;
  float:right;
}
.like-position-checked{
  margin-right:1vw;
  width: 3vw;
  height:auto;
  float:right;
  background-color: rgb(138, 240, 98);
}
.dislike-position-unchecked{
  margin-right:1vw;
  width: 3vw;
  height:auto;
  float:right;
}
.dislike-position-checked{
  margin-right:1vw;
  width: 3vw;
  height:auto;
  float:right;
  background-color: #e23636;
}
.modal-body-bg{
  background-color: #518cca;
}
.hero-page-pic{
  width: 100%;
  height: auto;
  float:left;
  padding-left:0px;
}
.hero-page-name{
  display: block;
  font-size: 5vh;
  color:white;
  margin-bottom: 1px;
  font-weight: 600;
}
.hero-page-publisher{
  display: block;
  margin-top:0px;
  padding-top:0px;
  font-size: 3vh;
  color:#e23636;
  font-weight: 600;
}
.hero-page-info{
  display: block;
  font-size: 3vh;
  color:white;
}
.my-pagination ::ng-deep .ngx-pagination .current{
    margin: 0px !important;
    justify-self: center;
    background-color: #e23636;
  }