<div class="external container-fluid" *ngFor="let hero of superHeroes 
  | paginate: { itemsPerPage: 9, currentPage: p }; let i = index;">
 <a (click)="openHeroModal(heroModal, i)">
    <img class="img-position rounded-circle m-1" src={{hero.picture}}>
    <p class="hero-name-card">{{hero.name}}</p>
    <p class="hero-publisher-card">{{hero.publisher}}</p>
    <p class="hero-info-card">{{hero.info}}</p>
  </a>
  <div class="row buttons-position">
    <div *ngIf="!likeStatus; else likenotclicked">
      <a (click)="setCoockieValue('like', i)"> <img class="rounded-circle like-position-unchecked" src="https://image.flaticon.com/icons/svg/1533/1533907.svg"></a>
    </div>
    <ng-template #likenotclicked>
      <a (click)="setCoockieValue('like', i)"> <img class="rounded-circle like-position-checked" src="https://image.flaticon.com/icons/svg/1533/1533907.svg"></a>
    </ng-template>
    <div *ngIf="!dislikeStatus; else dislikenotclicked">
    <a (click)="setCoockieValue('dislike', i)"> <img class="rounded-circle dislike-position-unchecked" src="https://image.flaticon.com/icons/svg/1533/1533915.svg"></a>
    </div>
    <ng-template #dislikenotclicked>
      <a (click)="setCoockieValue('dislike', i)"> <img class="rounded-circle dislike-position-checked" src="https://image.flaticon.com/icons/svg/1533/1533915.svg"></a>
    </ng-template>
  </div>
  <ng-template #heroModal let-modal>
    <div class="modal-header">
      <h6 class="modal-title" id="modal-basic-title">Hero Page</h6>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body modal-body-bg">
      <form>
        <div class="row">
          <div class="col-12 col-md-7 form-item ">
            <img class="m-1 hero-page-pic" src={{heroToShow.picture}}>
          </div>
          <div class="col-12 col-md-5 form-item ">
            <p class="row m-1 hero-page-name">{{heroToShow.name}}</p>
            <p class="row m-1 hero-page-publisher">{{heroToShow.publisher}} </p>
            <p class="row m-2 hero-page-info">{{heroToShow.info}} </p>
            <div class="row buttons-position">
              <div *ngIf="!likeStatus; else likenotclicked">
                <a (click)="setCoockieValue('like', i)"> <img class="rounded-circle like-position-unchecked" style="width:5vw;height:auto;background:white;"src="https://image.flaticon.com/icons/svg/1533/1533907.svg"></a>
              </div>
              <ng-template #likenotclicked>
                <a (click)="setCoockieValue('like', i)"> <img class="rounded-circle like-position-checked" style="width:5vw;height:auto;"src="https://image.flaticon.com/icons/svg/1533/1533907.svg"></a>
              </ng-template>
              <div *ngIf="!dislikeStatus; else dislikenotclicked">
              <a (click)="setCoockieValue('dislike', i)"> <img class="rounded-circle dislike-position-unchecked" style="width:5vw;height:auto;background:white;"src="https://image.flaticon.com/icons/svg/1533/1533915.svg"></a>
              </div>
              <ng-template #dislikenotclicked>
                <a (click)="setCoockieValue('dislike', i)"> <img class="rounded-circle dislike-position-checked" style="width:5vw;height:auto;"src="https://image.flaticon.com/icons/svg/1533/1533915.svg"></a>
              </ng-template>
            </div>
          </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="col-md-4 btn-red buttonwords mr-4" (click)="modal.close('Save click')">Regresar</button>
        </div>
      </ng-template>
  </div>
<div class="container-fluid">
<pagination-controls class="my-pagination" responsive="true" (pageChange)="p = $event"></pagination-controls>
</div>