html {
    font-family: Roboto, sans-serif, Helvetica;
  }
  
  body {
    margin: 0px;
  }
  
  mat-card {
    max-width: 85%;
    margin: 2em auto;
    text-align: center;
  }
  
  .mat-toolbar {
    justify-content: space-between;
  }
  
  mat-icon {
    vertical-align: middle;
  }
  .header-specs{
    background-color: #e23636;
    font-weight: 600;
    font-size: 4vh;
    height: 10vh;
  }